<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
      @media (max-width: 600px) {
    #videoGrid {
        width: 100%;
        height: auto;
    }

    video {
        height: auto;
        width: 100%;
        object-fit: contain;
    }
      }
      
      #videoGrid {
        width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden; /* Mencegah scroll horizontal */
    display: flex;
    justify-content: center; /* Memastikan video berada di tengah */
    align-items: center;
      }
      video {
        width: auto; 
    height: 100%;
    object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div id = 'videoGrid'>
      <p id = 'idPeer'></p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const paramsId = '<%= idPeer %>'
    </script>
    <script type="module" src="clientEJS.js"></script>
    
  </body>
</html>
